[data-md-color-accent="uk-yellow"] {
  --md-accent-fg-color: hsla(51, 100%, 50%, 1);
  --md-accent-fg-color--transparent: hsla(51, 100%, 50%, 0.1);
  --md-accent-bg-color: #000000de;
  --md-accent-bg-color--light: #0000008a;
}

[data-md-color-accent="uk-yellow-light"] {
  --md-accent-fg-color: hsla(51, 100%, 45%, 1);
  --md-accent-fg-color--transparent: hsla(51, 100%, 45%, 0.1);
  --md-accent-bg-color: #000000de;
  --md-accent-bg-color--light: #0000008a;
}

[data-md-color-accent="uk-blue"] {
  --md-accent-fg-color: hsla(211, 100%, 35.9%, 1);
  --md-accent-fg-color--transparent: hsla(211, 100%, 35.9%, 0.1);
  --md-accent-bg-color: #000000de;
  --md-accent-bg-color--light: #0000008a;
}

[data-md-color-primary="uk-yellow"]{
  --md-primary-fg-color: hsla(51, 100%, 50%, 1);
  --md-primary-fg-color--light: hsla(51, 100%, 50%, 0.7);
  --md-primary-fg-color--dark: hsla(51, 100%, 50%, 1);
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #ffffffb3;
}

[data-md-color-primary="uk-blue"]{
  --md-primary-fg-color: hsla(211, 100%, 35.9%, 1);
  --md-primary-fg-color--light: hsla(211, 100%, 35.9%, 0.7);
  --md-primary-fg-color--dark: hsla(211, 100%, 35.9%, 1);
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #ffffffb3;
}

:root {
  /* https://pictogrammers.com/library/mdi/icon/lifebuoy/ */
  --md-status--help-wanted: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.79,15.41C20.74,13.24 20.74,10.75 19.79,8.59L17.05,9.83C17.65,11.21 17.65,12.78 17.06,14.17L19.79,15.41M15.42,4.21C13.25,3.26 10.76,3.26 8.59,4.21L9.83,6.94C11.22,6.35 12.79,6.35 14.18,6.95L15.42,4.21M4.21,8.58C3.26,10.76 3.26,13.24 4.21,15.42L6.95,14.17C6.35,12.79 6.35,11.21 6.95,9.82L4.21,8.58M8.59,19.79C10.76,20.74 13.25,20.74 15.42,19.78L14.18,17.05C12.8,17.65 11.22,17.65 9.84,17.06L8.59,19.79M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,8A4,4 0 0,0 8,12A4,4 0 0,0 12,16A4,4 0 0,0 16,12A4,4 0 0,0 12,8Z" /></svg>');

  /* https://pictogrammers.com/library/mdi/icon/update/ */
  --md-status--updated: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,10.12H14.22L16.96,7.3C14.23,4.6 9.81,4.5 7.08,7.2C4.35,9.91 4.35,14.28 7.08,17C9.81,19.7 14.23,19.7 16.96,17C18.32,15.65 19,14.08 19,12.1H21C21,14.08 20.12,16.65 18.36,18.39C14.85,21.87 9.15,21.87 5.64,18.39C2.14,14.92 2.11,9.28 5.62,5.81C9.13,2.34 14.76,2.34 18.27,5.81L21,3V10.12M12.5,8V12.25L16,14.33L15.28,15.54L11,13V8H12.5Z" /></svg>')
}

.md-status--help-wanted::after {
  mask-image: var(--md-status--help-wanted);
}

.md-status--updated::after {
  mask-image: var(--md-status--updated);
}
